.acciones a {
  margin-right: 10px;
  display: inline-block;
}

.button-actualizar,
.button-eliminar {
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.button-actualizar {
  background-color: var(--accent-color);
  color: white;
}

.button-actualizar:hover {
  background-color: #6c52e2;
}

.button-eliminar {
  background-color: #e74c3c;
  color: white;
}

.button-eliminar:hover {
  background-color: #c0392b;
}

.contenedor-boton-agregar {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.boton-agregar {
  background-color: #7B61FF;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.boton-agregar:hover {
  background-color: #684fd7;
}

.mensaje-exito {
    background-color: #d4edda;
    color: #155724;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #c3e6cb;
} 

